<p id="notice"><%= notice %></p>

<p>
  <strong>No of incidents:</strong>
  <%= @driverhistory.no_of_incidents %>
</p>

<%= link_to 'Edit', edit_driverhistory_path(@driverhistory) %> |
<%= link_to 'Back', driverhistories_path %>
