<h1>Welcome to the Car Insurance Application</h1>



<div>
    To start your application click the link below
</div>

<div>
    <%= link_to 'Start application for car insurance', new_customer_path %>
</div>